.header .w {
    position: relative;
    height: 140px;
}
.header .w div {
    position: absolute;
    background-color: #fff;
}
.logo_scene_img {
    width: 190px;
    height: 170px;
    background-image: url(http://misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.head.png);
}

#logo {
    top: -31px;
    width: 190px;
    height: 170px;
    -webkit-box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    border-bottom: 1px solid #ededed;
}

#search {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}

#search input[type='text'] {
    float: left;
    left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
}

#search button{
    float: left;
    border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

#search {
    position: absolute;
    right: 99px;
    top: 25px;
}

#settleup {
    position: absolute;
    right: 280px;
    top: 25px;
    z-index: 21;
}

#settleup a{
    color: red;
}

.settleup_icon{
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
}

#hotwords {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

#hotwords a{
    margin-right: 10px;
}

#navitems {
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    margin: 0 auto;
    padding-top: 20px;
    background: transparent;
}
#navitems a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 30px;
    color:#333;
}