.shortcut{
    background-color: #e3e4e5;;   /* 不会被继承 */
    border-bottom: 1px solid #ddd;
}

.shortcut .w{
    height: 30px;  /* 不会被继承 */
    line-height: 30px;  /*import 文本垂直居中 */
}

.location {
    float:left;
    margin-left: 100px;  /* 不会被继承 */
}

.s_profile {
    float:right;
}

.s_profile div{
    float:left;
    padding-left: 7px;
    padding-right: 7px;
}