html, body {
    position:relative;
    width:100%;
    height:100%;
    padding: 0;
    margin: 0;
    overflow: hidden;  /* important */
    font: 0.9em arial;
    font-family:"微软雅黑";
    text-align: center; ;  /* important */
}