div.main_form {
    position:relative;
    margin-top: 10%;
}

div.m_image {
    position: relative;
    width: 100%;
    bottom: 2em;
}

img.m_image_logo {
    width: 20%;
    height:100%;
    min-width: 15em;
    min-height: 5em;
}

.m_form input{
    display: inline-block;
    height: 2em;
    align-items: center; /* important */
}

input.m_form_input {
    width: 30%;
    min-width: 14em;
    padding:0;
    font-size: 1.5em;
    border: 1px solid #b8b8b8;
    box-shadow: 1px 1px 1px rgb(218, 218, 218);
}

input.m_form_submit {
    box-sizing: content-box;-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* important */
    width: 8em;
    padding:0;
    font-size: 1.5em;
    background: #ffe699;
    border: 1px solid #ffe699;
    cursor:pointer;
}

input.m_form_input:focus {
    border: 1px solid #29ff37;
}
