body {
    margin: 0;
    background: #f6f6f6;
    font-size: 15px;
}

a, button {
    color: #8590a6;
    padding: 0;
    cursor:pointer;
}

h2 {
    padding:0;
    margin:0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

main a {
    color:black;
}

ul {
    list-style-type: none;
    padding: 0;
}

a:hover {
    color: #0077e6;
}

.Icon {
    border: transparent;
    outline:none;
}

.button_plain {
    margin-left: 4px;
    font-size: 14px;
    border: none;
    background-color: transparent;
}