@charset "UTF-8";
div.m_content {
    display: flex;  /* important */
    align-items: flex-start;
    width: 1000px;
    margin: 10px auto;
}

div.m_content_side {
    width: 296px;
}

div.m_content_side img {
    width: 100%;
    max-width: 100%;
}

/*m_content 开始*/
.m_content_items {
    display: block;
}
/*m_content 结束*/

    /*m_content m_content_items开始*/
    .card {
        position:relative;
        display: flex;
        width: 694px;
        margin-top: 0;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .top_story_main {
        display: block;
    }
    
    .card.top {
        background: white;
    }

    .top_card_nav, .top_card_right{
        line-height: 58px;
        padding: 0 20px;
    }

    .top_card_nav img {
        vertical-align: middle;
    }
    .top_card_nav div {
        display: inline-block;
    }

    .top_card_nav>div{
       margin-left: 40px;
    }

    .top_card_right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .top_story_item {
        padding: 10px;
        margin-bottom: 10px;
        background-color: white;
    }

    .top_story_item .right_button {
        position:absolute;
        right:10px;
    }

        .feed_source_from {
            margin-bottom: 8px;
            color: #8590a6;
        }

        .feed_source {
            margin-bottom: 14px;
        }

        .rich_content {
            margin-top: 9px;
            margin-bottom: 4px;
            overflow: hidden;
        }

        .share_menu {
            display: inline-block;
        }

        .share_menu button{
            color:red ;
        }

        .vote_button{
            display: inline-block;
            padding: 0 16px;
            font-size: 14px;
            line-height: 32px;
            text-align: center;
            border-radius: 3px;
            color: #0084ff;
            background: rgba(0,132,255,.1);
            border: 1px solid transparent;
        }

        .author_info_avatar{
            vertical-align: middle;
        }

/* 侧边栏开始 */
.to_sidebar {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    box-sizing: border-box;
}
.sidebar_category_list{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 -5px;
}

.sidebar_category_list li {
    display: flex;
    width:33%;
    margin-bottom: 25px;
    align-items: center;
}
.GlobalSideBar-categoryItem a {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.GlobalSideBar-categoryIcon{
    justify-content: center;
}
/* 侧边栏结束 */