div.m_content {
    display: flex;  /* important */
    width: 1000px;
    margin: 10px auto;
}

div.m_content_main {
    margin-right: 10px;
    width: 694px;
}

div.m_content_m_card {
    display: flex;
    background-color: #ffffff;
}

div.m_content_side {
    width: 296px;
}

div.m_content_side img {
    width: 100%;
    max-width: 100%;
}